# London

## 1. import libraries

In [2]:
import networkx as nx
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import community
import osmnx as ox

## 2. load shapefile

In [ ]:
Lon_shp = 'GLA/shp/GLA_Small_p.shp'
G=nx.read_shp(Lon_shp,simplify=True)

In [ ]:
#nx.write_shp(G, 'GLA/shp/nx/london.shp')

In [ ]:
for (i,j,w) in G.edges(data=True):
    del G.edges()[i,j]['Json']
    del G.edges()[i,j]['ShpName']
    del G.edges()[i,j]['Wkb']
    del G.edges()[i,j]['Wkt']
nx.write_edgelist(G,'GLA/test.edgelist',delimiter=',',data=True)

In [2]:
# step here needed to make edgelist into pandas dataframe
df=pd.read_csv('GLA/test.edgelist',names=['source_lon','source_lat','target_lon','target_lat','ID','VD','sky','bldg','road','tree','Cl','NetCl','FP','CH'])

In [3]:
df.head()

,source_lon,source_lat,target_lon,target_lat,ID,VD,sky,bldg,road,tree,Cl,NetCl,FP,CH
0,(530462.0,200000.03),(530498.99,200211.97),{'GLA_ID': 1.0,'res_pred': None,'Sky': None,'Building': None,'Road': None,'Tree': None,'D_LON_Cl': None,'D_LON_NETC': None,'F_act_prob': None,'Ax_Choice': None}
1,(530498.99,200211.97),(530679.97,200093.02),{'GLA_ID': 4.0,'res_pred': 0.03550648,'Sky': 29889.0,'Building': 37920.0,'Road': 3844.0,'Tree': 43543.0,'D_LON_Cl': 0.0,'D_LON_NETC': 1.0,'F_act_prob': 0.000282750464976,'Ax_Choice': 57219784.0}
2,(531525.98,200009.05),(531528.98,200000.0),{'GLA_ID': 2.0,'res_pred': -0.08743627,'Sky': 56167.0,'Building': 23552.0,'Road': 30815.0,'Tree': 15731.0,'D_LON_Cl': 2.0,'D_LON_NETC': 1.0,'F_act_prob': 0.001773398253135,'Ax_Choice': 42399540.0}
3,(531528.98,200000.0),(531580.97,199817.97),{'GLA_ID': 65378.0,'res_pred': -0.037550144,'Sky': 48892.0,'Building': 25853.0,'Road': 38137.0,'Tree': 22750.0,'D_LON_Cl': 2.0,'D_LON_NETC': 1.0,'F_act_prob': 0.000493181345519,'Ax_Choice': 42399540.0}
4,(530191.96,200566.04),(530498.99,200211.97),{'GLA_ID': 3.0,'res_pred': 0.007293992,'Sky': 30940.0,'Building': 4670.0,'Road': 24543.0,'Tree': 49084.0,'D_LON_Cl': 0.0,'D_LON_NETC': 1.0,'F_act_prob': 1.0504512829e-05,'Ax_Choice': 81773808.0}

In [4]:
#df[(df['ID'].isnull()==True)]
#df=df.fillna(0, inplace=True)
#nulls = df.isnull().sum()
#nulls[nulls > 0]

In [5]:
df['source_lon'] = df['source_lon'].str.replace('(','')
df['target_lon'] = df['target_lon'].str.replace('(','')
df['source_lat'] = df['source_lat'].str.replace(')','')
df['target_lat'] = df['target_lat'].str.replace(')','')
df['ID'] = df['ID'].str.replace("{'GLA_ID':",'')
df['VD'] = df['VD'].str.replace("'res_pred':",'')
df['sky'] = df['sky'].str.replace("'Sky':",'')
df['bldg'] = df['bldg'].str.replace("'Building':",'')
df['road'] = df['road'].str.replace("'Road':",'')
df['tree'] = df['tree'].str.replace("'Tree':",'')
df['Cl'] = df['Cl'].str.replace("'D_LON_Cl': ",'')
df['NetCl'] = df['NetCl'].str.replace("'D_LON_NETC': ",'')
df['FP'] = df['FP'].str.replace("'F_act_prob':",'')
df['CH'] = df['CH'].str.replace("'Ax_Choice':",'')
df['CH'] = df['CH'].str.replace("}",'')
df['ID'] = df['ID'].str.replace("'",'')

In [6]:
df['VD']=df['VD'].str.replace('None','0')
df['sky']=df['sky'].str.replace('None','0')
df['bldg']=df['bldg'].str.replace('None','0')
df['road']=df['road'].str.replace('None','0')
df['tree']=df['tree'].str.replace('None','0')
df['Cl']=df['Cl'].str.replace('None','0')
df['NetCl']=df['NetCl'].str.replace('None','0')
df['FP']=df['FP'].str.replace('None','0')
df['CH']=df['CH'].str.replace('None','0')

In [7]:
df['source_lon']=df['source_lon'].astype(float)
df['source_lat']=df['source_lat'].astype(float)
df['target_lon']=df['target_lon'].astype(float)
df['target_lat']=df['target_lat'].astype(float)
df['ID']=df['ID'].astype(float)
df['VD']=df['VD'].astype(float)
df['sky']=df['sky'].astype(float)
df['bldg']=df['bldg'].astype(float)
df['road']=df['road'].astype(float)
df['tree']=df['tree'].astype(float)
df['Cl']=df['Cl'].astype(float)
df['NetCl']=df['NetCl'].astype(float)
df['FP']=df['FP'].astype(float)
df['CH']=df['CH'].astype(float)

In [8]:
df['CH']=np.log(df['CH']+2)

### create nodelist

In [9]:
# creates nodelist
df2=pd.read_csv('GLA/nodelist.csv')
df2.head()
df3=df2.drop_duplicates()
df4=df3.reset_index()
del df4['index']
df5=df4.reset_index()
df5 = df5.rename(columns={'index': 'ID'})
df5 = df5.rename(columns={'X': 'lon','Y': 'lat'})

In [10]:
precision = 3
df['source_lon']=df['source_lon'].round(decimals = precision)
df['source_lat']=df['source_lat'].round(decimals = precision)
df['target_lon']=df['target_lon'].round(decimals = precision)
df['target_lat']=df['target_lat'].round(decimals = precision)
df5['lon'] = df5['lon'].round(decimals = precision)
df5['lat'] = df5['lat'].round(decimals = precision)

In [11]:
# creates edgelist
df6 = pd.merge(df,df5, how='left',left_on=['source_lon','source_lat'], right_on =['lon','lat'])
del df6['lon']
del df6['lat']
df7 = df6.rename(columns={'ID_x': 'Edge_ID','ID_y': 'source_ID'})
df8 = pd.merge(df7,df5, how='left',left_on=['target_lon','target_lat'], right_on =['lon','lat'])
df8 = df8.rename(columns={'ID': 'target_ID'})
del df8['lon']
del df8['lat']

#del df8['ID_x']
#del df8['ID_y']

## 3. create dual graph

In [12]:
df_nodelist=df5

In [13]:
df5.head()

   ID        lon        lat
0   0  530462.00  200000.03
1   1  530498.99  200211.97
2   2  531525.98  200009.05
3   3  531528.98  200000.00
4   4  530191.96  200566.04

In [14]:
df_edgelist=df8
del df_edgelist['source_lon']
del df_edgelist['source_lat']
del df_edgelist['target_lon']
del df_edgelist['target_lat']

In [15]:
df_edgelist.head()

,Edge_ID,VD,sky,bldg,road,tree,Cl,NetCl,FP,CH,source_ID,target_ID
0,1.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.693147,0,1
1,4.0,0.035506,29889.0,37920.0,3844.0,43543.0,0.0,1.0,0.000283,17.862410,1,5
2,2.0,-0.087436,56167.0,23552.0,30815.0,15731.0,2.0,1.0,0.001773,17.562648,2,3
3,65378.0,-0.037550,48892.0,25853.0,38137.0,22750.0,2.0,1.0,0.000493,17.562648,3,56957
4,3.0,0.007294,30940.0,4670.0,24543.0,49084.0,0.0,1.0,0.000011,18.219468,4,1

In [112]:
G=nx.from_pandas_dataframe(df_edgelist, 'source_ID', 'target_ID')
DG=nx.line_graph(G)
nx.write_edgelist(DG,'GLA/dual_graph.edgelist',delimiter=',',data=True)

In [16]:
df_dualgraph=pd.read_csv('GLA/dual_graph.edgelist',index_col=False,names=['source1','source2','target1','target2'])
df_dualgraph.head()

  source1   source2 target1   target2
0    (1.0      4.0)    (0.0      1.0)
1    (1.0      4.0)    (1.0      5.0)
2   (21.0     22.0)   (22.0   4023.0)
3   (26.0   4024.0)   (25.0     26.0)
4   (33.0     34.0)   (34.0   4028.0)

In [17]:
df_dualgraph['source1'] = df_dualgraph['source1'].str.replace('(','')
df_dualgraph['target1'] = df_dualgraph['target1'].str.replace('(','')
df_dualgraph['source2'] = df_dualgraph['source2'].str.replace(')','')
df_dualgraph['target2'] = df_dualgraph['target2'].str.replace(')','')

df_dualgraph['source1'] = df_dualgraph['source1'].astype(float)
df_dualgraph['target1'] = df_dualgraph['target1'].astype(float)
df_dualgraph['source2'] = df_dualgraph['source2'].astype(float)
df_dualgraph['target2'] = df_dualgraph['target2'].astype(float)

In [18]:
# for saving and loading
#df_nodelist.to_csv('networkx/nodelist.csv')
#df_edgelist.to_csv('GLA/edgelist.csv',index=False)
df_edgelist = pd.read_csv('GLA/edgelist.csv')
#del df_edgelist['Unnamed: 0']

In [19]:
df_dualgraph.head()

   source1  source2  target1  target2
0      1.0      4.0      0.0      1.0
1      1.0      4.0      1.0      5.0
2     21.0     22.0     22.0   4023.0
3     26.0   4024.0     25.0     26.0
4     33.0     34.0     34.0   4028.0

In [20]:
df_edgelist

,Edge_ID,VD,sky,bldg,road,tree,Cl,NetCl,FP,CH,source_ID,target_ID
0,1.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.693147,0,1
1,4.0,0.035506,29889.0,37920.0,3844.0,43543.0,0.0,1.0,0.000283,17.862410,1,5
2,2.0,-0.087436,56167.0,23552.0,30815.0,15731.0,2.0,1.0,0.001773,17.562648,2,3
3,65378.0,-0.037550,48892.0,25853.0,38137.0,22750.0,2.0,1.0,0.000493,17.562648,3,56957
4,3.0,0.007294,30940.0,4670.0,24543.0,49084.0,0.0,1.0,0.000011,18.219468,4,1
5,5.0,0.059349,37829.0,16689.0,25528.0,43527.0,1.0,1.0,0.000045,13.231695,5,6
6,6.0,-0.207564,59595.0,15820.0,39686.0,8680.0,4.0,1.0,0.000153,17.793498,6,2
7,7.0,-0.037117,64240.0,24653.0,45085.0,5702.0,2.0,1.0,0.009025,14.259435,7,8
8,4402.0,-0.049668,72208.0,34317.0,25350.0,35.0,2.0,1.0,0.000032,14.259435,8,3966
9,8.0,-0.171608,50002.0,59769.0,28931.0,1725.0,2.0,3.0,0.713976,17.243651,9,10
10,987.0,-0.069058,48254.0,38344.0,44429.0,85.0,2.0,3.0,0.007909,17.874029,9,44
11,988.0,-0.039362,47331.0,44130.0,37820.0,1479.0,2.0,3.0,0.650110,17.243651,9,31
12,1315.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.693147,10,1190
13,9.0,-0.079949,60003.0,29133.0,40588.0,7148.0,1.0,3.0,0.013402,15.753532,11,12
14,4436.0,-0.096734,48124.0,33635.0,38434.0,10750.0,1.0,3.0,0.000019,15.753532,12,4007
15,10.0,0.046882,43562.0,51326.0,34599.0,5472.0,2.0,1.0,0.987361,13.068766,13,14
16,640.0,0.074995,46947.0,52741.0,37246.0,7854.0,1.0,1.0,0.972434,13.223428,13,15
17,4437.0,0.014943,52796.0,52298.0,37772.0,3489.0,2.0,1.0,0.001417,13.068766,14,4008
18,11.0,0.083860,51561.0,53129.0,28382.0,842.0,2.0,1.0,0.987892,13.336791,15,16
19,642.0,0.100383,50059.0,35630.0,38025.0,15944.0,2.0,1.0,0.002994,11.782189,15,17
20,4438.0,0.071858,53655.0,41908.0,44341.0,1366.0,2.0,1.0,0.012750,13.336791,16,4009
21,12.0,0.047504,48555.0,54543.0,43847.0,42.0,2.0,1.0,0.997957,14.044145,17,18
22,4439.0,0.049644,48050.0,51932.0,32760.0,1971.0,2.0,1.0,0.412264,13.336791,18,4009
23,13.0,0.019507,42855.0,42767.0,31162.0,16000.0,2.0,1.0,0.716355,1.791759,19,20
24,22.0,0.061600,51007.0,28471.0,31859.0,15633.0,2.0,1.0,0.018314,15.546607,19,37
25,4450.0,0.023854,50769.0,46751.0,25215.0,742.0,2.0,1.0,0.706936,1.791759,20,4022
26,14.0,0.020638,58361.0,27956.0,22060.0,21066.0,1.0,1.0,0.005986,13.231105,21,22
27,4451.0,0.059061,46105.0,32851.0,49073.0,5301.0,2.0,1.0,0.000433,13.924247,22,4023
28,15.0,-0.055140,59774.0,40890.0,36696.0,2999.0,2.0,4.0,0.032640,13.628989,23,24
29,659.0,-0.018671,57645.0,32317.0,35480.0,13287.0,2.0,1.0,0.000002,10.817536,23,25
...,...,...,...,...,...,...,...,...,...,...,...,...
113988,113911.0,-0.011801,42729.0,29585.0,41111.0,16900.0,5.0,1.0,0.000945,11.369494,84830,21876
113989,113912.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.693147,84830,84831
113990,113914.0,0.192145,18227.0,40615.0,18825.0,29313.0,3.0,0.0,0.177122,15.065732,84831,24462
113991,113924.0,-0.013545,22064.0,86565.0,33497.0,665.0,3.0,1.0,0.981970,7.331060,84832,84119
113992,113928.0,0.023744,18742.0,100779.0,13754.0,0.0,3.0,3.0,0.997671,14.214722,84833,84834
113993,113929.0,0.014688,47086.0,80228.0,15624.0,5411.0,3.0,3.0,0.013045,13.036936,84834,84835
113994,113932.0,0.011493,18534.0,103719.0,3007.0,845.0,3.0,3.0,0.755879,9.980819,84834,29866
113995,113931.0,0.017188,4544.0,100728.0,5858.0,10630.0,3.0,3.0,0.000066,11.560982,84835,84139
113996,113930.0,0.089186,28972.0,74921.0,12362.0,3810.0,3.0,3.0,0.694393,13.043333,84836,84835
113997,113950.0,0.021429,12825.0,58272.0,43001.0,12227.0,6.0,3.0,0.228980,13.337028,84837,84838
113998,113951.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.693147,84838,81623
113999,113958.0,-0.037590,24058.0,72541.0,12299.0,626.0,3.0,3.0,0.999950,12.585118,84839,31176
114000,113965.0,0.045277,19480.0,90930.0,21373.0,43.0,3.0,0.0,0.993619,12.615892,84840,52214
114001,113967.0,-0.103040,12253.0,58230.0,46963.0,835.0,3.0,3.0,0.078754,13.193852,84841,84636
114002,113975.0,-0.177486,48270.0,21844.0,51633.0,5836.0,6.0,4.0,0.000598,20.472866,84842,84843
114003,113976.0,-0.180646,33899.0,54695.0,31017.0,1563.0,6.0,2.0,0.000004,20.445922,84843,79137
114004,113982.0,0.059689,48320.0,29330.0,49943.0,6111.0,2.0,0.0,0.000039,14.904971,84844,8809
114005,113983.0,0.013122,36159.0,45415.0,39039.0,2130.0,2.0,3.0,0.614407,16.838754,84844,79224
114006,113987.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.693147,84845,12053
114007,113991.0,0.075746,34566.0,61012.0,3817.0,1316.0,3.0,4.0,0.001050,11.897494,84846,82236
114008,113992.0,0.062576,35830.0,86158.0,2623.0,17.0,3.0,3.0,0.119006,14.039101,84846,52338
114009,113997.0,-0.011872,14642.0,82911.0,20995.0,0.0,3.0,3.0,0.946673,9.854822,84847,51296
114010,113999.0,-0.020937,21346.0,84668.0,11455.0,1706.0,3.0,0.0,0.999936,13.055234,84847,84849
114011,113998.0,0.053029,26796.0,83268.0,8165.0,2680.0,3.0,4.0,0.996455,11.038673,84848,84847
114012,114003.0,0.015345,15239.0,87486.0,27639.0,651.0,3.0,4.0,0.998826,17.295039,84848,82237
114013,114000.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.693147,84849,50297
114014,114001.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.693147,84849,56811
114015,114006.0,-0.050748,19047.0,103058.0,9526.0,0.0,3.0,3.0,0.408455,13.649124,84850,52350
114016,114007.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.693147,84850,51351
114017,114014.0,0.024441,29944.0,90642.0,13334.0,390.0,3.0,0.0,0.689510,13.023533,84852,84851

## 4. make directional edgelist from dataframe

In [21]:
df_edgelist1=pd.read_csv('GLA/edgelist.csv')

In [22]:
df_edgelist2=pd.read_csv('GLA/edgelist.csv')

In [23]:
#del df_edgelist1['source_lon']
#del df_edgelist1['source_lat']
#del df_edgelist1['target_lon']
#del df_edgelist1['target_lat']
#del df_edgelist2['source_lon']
#del df_edgelist2['source_lat']
#del df_edgelist2['target_lon']
#del df_edgelist2['target_lat']
#del df_edgelist1['Unnamed: 0']
#del df_edgelist2['Unnamed: 0']

In [24]:
df_edgelist1.head()

,Edge_ID,VD,sky,bldg,road,tree,Cl,NetCl,FP,CH,source_ID,target_ID
0,1.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.693147,0,1
1,4.0,0.035506,29889.0,37920.0,3844.0,43543.0,0.0,1.0,0.000283,17.862410,1,5
2,2.0,-0.087436,56167.0,23552.0,30815.0,15731.0,2.0,1.0,0.001773,17.562648,2,3
3,65378.0,-0.037550,48892.0,25853.0,38137.0,22750.0,2.0,1.0,0.000493,17.562648,3,56957
4,3.0,0.007294,30940.0,4670.0,24543.0,49084.0,0.0,1.0,0.000011,18.219468,4,1

In [25]:
df_edgelist2.head()

,Edge_ID,VD,sky,bldg,road,tree,Cl,NetCl,FP,CH,source_ID,target_ID
0,1.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.693147,0,1
1,4.0,0.035506,29889.0,37920.0,3844.0,43543.0,0.0,1.0,0.000283,17.862410,1,5
2,2.0,-0.087436,56167.0,23552.0,30815.0,15731.0,2.0,1.0,0.001773,17.562648,2,3
3,65378.0,-0.037550,48892.0,25853.0,38137.0,22750.0,2.0,1.0,0.000493,17.562648,3,56957
4,3.0,0.007294,30940.0,4670.0,24543.0,49084.0,0.0,1.0,0.000011,18.219468,4,1

In [26]:
df_edgelist.head()

,Edge_ID,VD,sky,bldg,road,tree,Cl,NetCl,FP,CH,source_ID,target_ID
0,1.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.693147,0,1
1,4.0,0.035506,29889.0,37920.0,3844.0,43543.0,0.0,1.0,0.000283,17.862410,1,5
2,2.0,-0.087436,56167.0,23552.0,30815.0,15731.0,2.0,1.0,0.001773,17.562648,2,3
3,65378.0,-0.037550,48892.0,25853.0,38137.0,22750.0,2.0,1.0,0.000493,17.562648,3,56957
4,3.0,0.007294,30940.0,4670.0,24543.0,49084.0,0.0,1.0,0.000011,18.219468,4,1

In [27]:
df_edgelist2=df_edgelist2.rename(columns={'source_ID':'target_ID2','target_ID': 'source_ID2'})
df_edgelist2=df_edgelist2.rename(columns={'target_ID2':'target_ID','source_ID2': 'source_ID'})
#df_edgelist2 = df_edgelist2[['Edge_ID', 'FP','source_ID', 'target_ID']]

In [28]:
df_both_edgelist=pd.concat([df_edgelist,df_edgelist2])
#df_both_edgelist.to_csv('GLA/Both_edgelist.csv',index=False)

In [29]:
df_both_edgelist.head()

,CH,Cl,Edge_ID,FP,NetCl,VD,bldg,road,sky,source_ID,target_ID,tree
0,0.693147,0.0,1.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0,1,0.0
1,17.862410,0.0,4.0,0.000283,1.0,0.035506,37920.0,3844.0,29889.0,1,5,43543.0
2,17.562648,2.0,2.0,0.001773,1.0,-0.087436,23552.0,30815.0,56167.0,2,3,15731.0
3,17.562648,2.0,65378.0,0.000493,1.0,-0.037550,25853.0,38137.0,48892.0,3,56957,22750.0
4,18.219468,0.0,3.0,0.000011,1.0,0.007294,4670.0,24543.0,30940.0,4,1,49084.0

## 5. key merge between dual graph and edgelist

In [30]:
#df_both_edgelist = pd.read_csv('GLA/Both_edgelist.csv')

In [31]:
df_both_edgelist.head()

,CH,Cl,Edge_ID,FP,NetCl,VD,bldg,road,sky,source_ID,target_ID,tree
0,0.693147,0.0,1.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0,1,0.0
1,17.862410,0.0,4.0,0.000283,1.0,0.035506,37920.0,3844.0,29889.0,1,5,43543.0
2,17.562648,2.0,2.0,0.001773,1.0,-0.087436,23552.0,30815.0,56167.0,2,3,15731.0
3,17.562648,2.0,65378.0,0.000493,1.0,-0.037550,25853.0,38137.0,48892.0,3,56957,22750.0
4,18.219468,0.0,3.0,0.000011,1.0,0.007294,4670.0,24543.0,30940.0,4,1,49084.0

In [32]:
#df.head()

In [33]:
precision = 3
df['source_lon']=df['source_lon'].round(decimals = precision)
df['source_lat']=df['source_lat'].round(decimals = precision)
df['target_lon']=df['target_lon'].round(decimals = precision)
df['target_lat']=df['target_lat'].round(decimals = precision)
df5['lon'] = df5['lon'].round(decimals = precision)
df5['lat'] = df5['lat'].round(decimals = precision)

In [34]:
df_merge=pd.merge(df_dualgraph,df_both_edgelist,how='left',left_on=['source1','source2'], right_on =['source_ID','target_ID'])
del df_merge['source_ID']
del df_merge['target_ID']

In [35]:
df_merge = df_merge.rename(columns={'Cl':'source_Cl','NetCl': 'source_netCl','Edge_ID': 'source_Edge_ID','FP':'source_FP','sky':'source_sky','bldg':'source_bldg','road':'source_road','tree':'source_tree','VD':'source_VD','CH':'source_CH'})

In [36]:
df_merge=pd.merge(df_merge,df_both_edgelist,how='left',left_on=['target1','target2'], right_on =['source_ID','target_ID'])
del df_merge['source_ID']
del df_merge['target_ID']

In [37]:
df_merge = df_merge.rename(columns={'Cl':'target_Cl','NetCl': 'target_netCl','Edge_ID': 'target_Edge_ID','FP':'target_FP','sky':'target_sky','bldg':'target_bldg','road':'target_road','tree':'target_tree','VD':'target_VD','CH':'target_CH'})

In [38]:
df_merge['netCl'] = np.abs(df_merge['source_netCl']-df_merge['target_netCl'])
df_merge['netCl']= 1/(df_merge['netCl']+1)
df_merge['Cl'] = np.abs(df_merge['source_Cl']-df_merge['target_Cl'])
df_merge['Cl']=1/(df_merge['Cl']+1)

df_merge['sky'] = np.abs(df_merge['source_sky']-df_merge['target_sky'])
df_merge['sky']= 1/(df_merge['sky']+1)
df_merge['bldg'] = np.abs(df_merge['source_bldg']-df_merge['target_bldg'])
df_merge['bldg']=1/(df_merge['bldg']+1)
df_merge['tree'] = np.abs(df_merge['source_tree']-df_merge['target_tree'])
df_merge['tree']= 1/(df_merge['tree']+1)
df_merge['road'] = np.abs(df_merge['source_road']-df_merge['target_road'])
df_merge['road']=1/(df_merge['road']+1)
df_merge['sum_road'] = np.abs(df_merge['source_road']+df_merge['target_road'])
df_merge['sum_road']=1/(df_merge['road']+1)
df_merge['FP'] = np.abs(df_merge['source_FP']-df_merge['target_FP'])
df_merge['FP']= 1/(df_merge['FP']+1)
df_merge['VD'] = np.abs(df_merge['source_VD']-df_merge['target_VD'])
df_merge['VD']= 1/(df_merge['VD']+1)

df_merge['CH'] = np.abs(df_merge['source_CH']+df_merge['target_CH'])
df_merge['CH']= 1/(df_merge['CH']+1)
#df_merge['CH'] = (df_merge['source_CH']+df_merge['target_CH'])
#df_merge['CH']= (1/(df_merge['CH']+1))*100

#df_BC = (df_BC - df_BC.min()) / (df_BC.max() - df_BC.min())
#df_BC=df_BC.clip(lower=0.01, upper=0.99)

In [39]:
#df_merge.to_csv('GLA/df_merge.csv',index=False)
#df_merge=pd.read_csv('London/df_merge.csv')
#del df_merge['Unnamed: 0']

In [40]:
del df_merge['source1']
del df_merge['source2']
del df_merge['target1']
del df_merge['target2']
del df_merge['source_Cl']
del df_merge['source_netCl']
del df_merge['target_Cl']
del df_merge['target_netCl']
del df_merge['source_road']
del df_merge['source_sky']
del df_merge['source_bldg']
del df_merge['source_tree']
del df_merge['target_road']
del df_merge['target_sky']
del df_merge['target_bldg']
del df_merge['target_tree']
del df_merge['source_VD']
del df_merge['source_FP']
del df_merge['target_VD']
del df_merge['target_FP']

del df_merge['source_CH']
del df_merge['target_CH']

In [157]:
df_merge.to_csv('GLA/GLA_edgelist.csv',index=False)

In [41]:
df_merge=pd.read_csv('GLA/GLA_edgelist.csv')

In [41]:
df_merge.head()

,source_Edge_ID,target_Edge_ID,netCl,Cl,sky,bldg,tree,road,sum_road,FP,VD,CH
0,3.0,1.0,0.5,1.000000,0.000032,0.000214,0.000020,0.000041,0.999959,0.999989,0.992759,0.050219
1,3.0,4.0,1.0,1.000000,0.000951,0.000030,0.000180,0.000048,0.999952,0.999728,0.972562,0.026967
2,14.0,4451.0,1.0,0.500000,0.000082,0.000204,0.000063,0.000037,0.999963,0.994478,0.962999,0.035517
3,4453.0,16.0,0.5,0.333333,0.000584,0.000151,0.000153,0.000213,0.999787,0.987454,0.922827,0.419060
4,20.0,4457.0,1.0,0.333333,0.000054,0.000117,0.003257,0.000098,0.999902,0.999828,0.947112,0.419060

### optional: calculate betweenness_centrality

In [163]:
#DG=nx.from_pandas_dataframe(df_merge, 'source_Edge_ID', 'target_Edge_ID', 'FP')
#bc=nx.betweenness_centrality(DG)
# needs to merge it back to dataframe
#df_BC=pd.DataFrame(list(bc.items()), columns=['nodes', 'BC'])
#df_BC = df_BC.set_index('nodes')
#df_BC = (df_BC - df_BC.min()) / (df_BC.max() - df_BC.min())
#df_BC=df_BC.clip(lower=0.01, upper=0.99)
#df_all=pd.merge(left=df_merge,right=df_BC,left_on='source_Edge_ID',right_index=True)
#df_all=df_all.rename(columns={'BC':'source_BC'})
#df_all=pd.merge(left=df_all,right=df_BC,left_on='target_Edge_ID',right_index=True)
#df_all=df_all.rename(columns={'BC':'target_BC'})
#df_all['BC'] = np.abs(df_all['source_BC']+df_all['target_BC'])
#df_all['BC']= 1/(df_all['BC']+0.01)
#del df_all['source_BC']
#del df_all['target_BC']
#df_all.loc[(df_all['BC']<100)]

## 7. Dual graph communities using average choice of nodes

### dual edge weights = f(sum of source choice and target choice)

* if high choice on both streets = disconnected

* if low choice on both streets = connected

* this takes the choice from two edges 

* create dual graph based on source and target choice

* calculate modularity communities

In [390]:
df_merge.to_csv('GLA/final/df_merge.csv',index=False)
#df_merge=pd.read_csv('GLA/final/df_merge.csv')

In [161]:
DG=nx.from_pandas_dataframe(df_merge, 'source_Edge_ID', 'target_Edge_ID', 'CH')
partition = community.best_partition(DG)
partition_CH = community.best_partition(DG,weight='CH')
df_partition = pd.DataFrame(list(partition.items()), columns=['EdgeID', 'Com_Topo'])
df_partition_CH = pd.DataFrame(list(partition_CH.items()), columns=['EdgeID', 'Com_CH'])
df_com = pd.merge(df_partition,df_partition_CH)
df_com.to_csv('GLA/GLA_CH_communities.csv',index=False)

In [43]:
DG=nx.from_pandas_dataframe(df_merge, 'source_Edge_ID', 'target_Edge_ID', 'sum_road')
partition = community.best_partition(DG)
partition_CH = community.best_partition(DG,weight='sum_road')
df_partition = pd.DataFrame(list(partition.items()), columns=['EdgeID', 'Com_Topo'])
df_partition_CH = pd.DataFrame(list(partition_CH.items()), columns=['EdgeID', 'Com_Road'])
df_com = pd.merge(df_partition,df_partition_CH)
df_com.to_csv('GLA/GLA_Road_communities.csv',index=False)

In [45]:
DG=nx.from_pandas_dataframe(df_merge, 'source_Edge_ID', 'target_Edge_ID', 'FP')
partition = community.best_partition(DG)
partition_FP = community.best_partition(DG,weight='FP')
df_partition = pd.DataFrame(list(partition.items()), columns=['EdgeID', 'Com_Topo'])
df_partition_FP = pd.DataFrame(list(partition_FP.items()), columns=['EdgeID', 'Com_FP'])
df_com = pd.merge(df_partition,df_partition_FP)
df_com.to_csv('GLA/GLA_FP_communities.csv',index=False)

In [166]:
DG=nx.from_pandas_dataframe(df_merge, 'source_Edge_ID', 'target_Edge_ID', 'VD')
partition = community.best_partition(DG)
partition_VD = community.best_partition(DG,weight='VD')
df_partition = pd.DataFrame(list(partition.items()), columns=['EdgeID', 'Com_Topo'])
df_partition_VD = pd.DataFrame(list(partition_VD.items()), columns=['EdgeID', 'Com_VD'])
df_com = pd.merge(df_partition,df_partition_VD)
df_com.to_csv('GLA/GLA_VD_communities.csv',index=False)

In [382]:
# 42606 is approximately 20%
len(df_merge.loc[df_merge['bldg'] < 0.000048])

51674

In [383]:
df_merge['new_bldg']=np.NaN
df_merge.loc[df_merge['bldg'] < 0.000048, 'new_bldg'] = 1
df_merge.loc[df_merge['bldg'] >= 0.000048, 'new_bldg'] = 10

In [384]:
DG=nx.from_pandas_dataframe(df_merge, 'source_Edge_ID', 'target_Edge_ID', 'bldg')
partition = community.best_partition(DG)
partition_bldg = community.best_partition(DG,weight='bldg')
partition_new_bldg = community.best_partition(DG,weight='new_bldg')

df_partition = pd.DataFrame(list(partition.items()), columns=['EdgeID', 'Com_Topo'])
df_partition_bldg = pd.DataFrame(list(partition_bldg.items()), columns=['EdgeID', 'Com_bldg'])
df_partition_new_bldg = pd.DataFrame(list(partition_new_bldg.items()), columns=['EdgeID', 'Com_new_bldg'])

df_com = pd.merge(df_partition,df_partition_bldg)
df_com = pd.merge(df_com,df_partition_new_bldg)
df_com.to_csv('GLA/GLA_bldg_communities2.csv',index=False)

## 8. Primal graph communities using Street Choice

### primal edge weights = inverse depthmap choice

* use edge betweenness calculation as weights

* calculate modularity communities based on betweenness

In [170]:
df_edgelist['inv_CH']=1/(df_edgelist['CH'])
df_edgelist.head()

,Edge_ID,VD,sky,bldg,road,tree,Cl,NetCl,FP,CH,source_ID,target_ID,inv_CH
0,1.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.693147,0,1,1.442695
1,4.0,0.035506,29889.0,37920.0,3844.0,43543.0,0.0,1.0,0.000283,17.862410,1,5,0.055983
2,2.0,-0.087436,56167.0,23552.0,30815.0,15731.0,2.0,1.0,0.001773,17.562648,2,3,0.056939
3,65378.0,-0.037550,48892.0,25853.0,38137.0,22750.0,2.0,1.0,0.000493,17.562648,3,56957,0.056939
4,3.0,0.007294,30940.0,4670.0,24543.0,49084.0,0.0,1.0,0.000011,18.219468,4,1,0.054886

In [168]:
G=nx.from_pandas_dataframe(df_edgelist, 'source_ID', 'target_ID', 'inv_CH')
partition = community.best_partition(G)
partition_CH = community.best_partition(G,weight='inv_CH')
df_partition = pd.DataFrame(list(partition.items()), columns=['NodeID', 'Com_Topo'])
df_partition_CH = pd.DataFrame(list(partition_CH.items()), columns=['NodeID', 'Com_CH'])
df_com = pd.merge(df_partition,df_partition_CH)
df_com.to_csv('GLA/GLA_Node_CH_communities.csv',index=False)

## 9. Primal Graph Communities using avg street Choice of connected edges

* Averaging the edge weights onto nodes

* taking the average of betweenness from surrounding edges back onto the nodes

In [443]:
df_src_Ch=pd.DataFrame(df_edgelist.groupby(['source_ID'])['CH'].sum())
df_src_ct = pd.DataFrame(df_edgelist.groupby(['source_ID'])['CH'].count())
df_tgt_Ch=pd.DataFrame(df_edgelist.groupby(['target_ID'])['CH'].sum())
df_tgt_ct = pd.DataFrame(df_edgelist.groupby(['target_ID'])['CH'].count())
df_src = pd.merge(left=df_src_Ch, right=df_src_ct, how='left', left_index=True, right_index=True)
df_tgt = pd.merge(left=df_tgt_Ch, right=df_tgt_ct, how='left', left_index=True, right_index=True)

In [444]:
df_src = df_src.rename(columns={'CH_x':'CH','CH_y': 'Ct'})
df_tgt = df_tgt.rename(columns={'CH_x':'CH','CH_y': 'Ct'})
df_src = df_src.rename(columns={'CH':'src_CH', 'Ct': 'src_Ct'})
df_tgt = df_tgt.rename(columns={'CH':'tgt_CH', 'Ct': 'tgt_Ct'})
df_src=df_src.reset_index()
df_tgt=df_tgt.reset_index()

In [445]:
df_nodelist_density = pd.merge(left=df_nodelist, right=df_src, how='left', left_on='ID', right_on='source_ID')
df_nodelist_density = pd.merge(left=df_nodelist_density, right=df_tgt, how='left', left_on='ID', right_on='target_ID')
df_nodelist_density = df_nodelist_density.fillna(0)
df_nodelist_density['avg_CH']=(df_nodelist_density['src_CH']+df_nodelist_density['tgt_CH'])/(df_nodelist_density['src_Ct']+df_nodelist_density['tgt_Ct'])

In [446]:
del df_nodelist_density['source_ID']
del df_nodelist_density['target_ID']
del df_nodelist_density['src_CH']
del df_nodelist_density['tgt_CH']
del df_nodelist_density['src_Ct']
del df_nodelist_density['tgt_Ct']
df_lon_nodes=df_nodelist_density

* primal edge weights = mean(node_CH)

In [447]:
# need step here - average the weights from edges into nodes
del df_lon_nodes['lon']
del df_lon_nodes['lat']
df_edgelist2 = pd.merge(df_edgelist,df_lon_nodes,how='left',left_on='source_ID',right_on='ID')
df_edgelist2 = df_edgelist2.rename(columns={'avg_CH':'src_avg_CH'})

In [448]:
del df_edgelist2['ID']
del df_edgelist2['CH']
df_edgelist2 = pd.merge(df_edgelist2,df_lon_nodes,how='left',left_on='target_ID',right_on='ID')
df_edgelist2 = df_edgelist2.rename(columns={'avg_CH':'tgt_avg_CH'})
del df_edgelist2['ID']

In [449]:
# this takes the Difference between source choice in node 1 and target choice in node 2
df_edgelist2['Sim_CH']=1/(np.abs(df_edgelist2['src_avg_CH']-df_edgelist2['tgt_avg_CH'])+1)
df_edgelist2['Sum_CH']=1/(np.abs(df_edgelist2['src_avg_CH']+df_edgelist2['tgt_avg_CH'])+1)

In [450]:
DG=nx.from_pandas_dataframe(df_edgelist2, 'source_ID', 'target_ID')
partition = community.best_partition(DG)
DG=nx.from_pandas_dataframe(df_edgelist2, 'source_ID', 'target_ID', 'Sim_CH')
partition_CH = community.best_partition(DG,weight='Sim_CH')
DG=nx.from_pandas_dataframe(df_edgelist2, 'source_ID', 'target_ID', 'Sum_CH')
partition_CHS = community.best_partition(DG,weight='Sum_CH')
df_partition = pd.DataFrame(list(partition.items()), columns=['NodeID', 'Com_Topo'])
df_partition_CH = pd.DataFrame(list(partition_CH.items()), columns=['NodeID', 'Com_CH'])
df_partition_CHS = pd.DataFrame(list(partition_CHS.items()), columns=['NodeID', 'Com_CHS'])
df_com = pd.merge(df_partition,df_partition_CH)
df_com = pd.merge(df_com,df_partition_CHS)

In [451]:
df_com.to_csv('GLA/London_primal_node_communities2.csv',index=False)

In [462]:
df_edgelist3=df_edgelist2.sample(frac=1)
df_edgelist3=df_edgelist3.reset_index()

In [463]:
DG=nx.from_pandas_dataframe(df_edgelist3, 'source_ID', 'target_ID')
partition = community.best_partition(DG)
DG=nx.from_pandas_dataframe(df_edgelist3, 'source_ID', 'target_ID', 'Sim_CH')
partition_CH = community.best_partition(DG,weight='Sim_CH')
DG=nx.from_pandas_dataframe(df_edgelist3, 'source_ID', 'target_ID', 'Sum_CH')
partition_CHS = community.best_partition(DG,weight='Sum_CH')
df_partition = pd.DataFrame(list(partition.items()), columns=['NodeID', 'Com_Topo'])
df_partition_CH = pd.DataFrame(list(partition_CH.items()), columns=['NodeID', 'Com_CH'])
df_partition_CHS = pd.DataFrame(list(partition_CHS.items()), columns=['NodeID', 'Com_CHS'])
df_com = pd.merge(df_partition,df_partition_CH)
df_com = pd.merge(df_com,df_partition_CHS)
df_com.to_csv('GLA/London_primal_node_communities4.csv',index=False)

## 10. Dual Graph communities using average junction node choice from connected edges

* take node weights of average edge choice as dual graph weights to calculate modularity

* using junction node weights in dual graph edges

In [72]:
new_df=df_edgelist2[['Edge_ID','source_ID','target_ID']]
new_df2=df_merge[['source_Edge_ID','target_Edge_ID']]
new_df3=pd.merge(new_df2,new_df,how='left',left_on='source_Edge_ID',right_on='Edge_ID')
new_df3=new_df3.rename(columns={'source_ID':'src_Edge_s1','target_ID':'src_Edge_t1'})
del new_df3['Edge_ID']
new_df4=pd.merge(new_df3,new_df,how='left',left_on='target_Edge_ID',right_on='Edge_ID')
new_df4=new_df4.rename(columns={'source_ID':'tgt_Edge_s2','target_ID':'tgt_Edge_t2'})
del new_df4['Edge_ID']
new_df4['freq_ID']=np.NaN

In [ ]:
# this gets the most frequent node which is the junction of the two edge
for i in new_df4.index:
    value=new_df4[['src_Edge_s1','src_Edge_t1','tgt_Edge_s2','tgt_Edge_t2']].loc[i].mode()
    new_df4.loc[(i,'freq_ID')]=value[0]

# delete the source edge source/target node and target edge source/target note
del new_df4['src_Edge_s1']
del new_df4['src_Edge_t1']
del new_df4['tgt_Edge_s2']
del new_df4['tgt_Edge_t2']

In [ ]:
# now get the choice value of the junction node as the choice value 
new_df4=pd.merge(new_df4,df_lon_nodes,how='left',left_on='freq_ID',right_on='ID')

In [341]:
new_df4['inv_CH']=1/new_df4['avg_CH']

* Dual Graph Communities using average node choice

In [343]:
# now calculate modularity optimisation based on the junction nodes
DG=nx.from_pandas_dataframe(new_df4, 'source_Edge_ID', 'target_Edge_ID')
partition = community.best_partition(DG)
DG=nx.from_pandas_dataframe(new_df4, 'source_Edge_ID', 'target_Edge_ID', 'avg_CH')
partition_CH = community.best_partition(DG,weight='avg_CH')
DG=nx.from_pandas_dataframe(new_df4, 'source_Edge_ID', 'target_Edge_ID', 'inv_CH')
partition_inv_CH = community.best_partition(DG,weight='inv_CH')
df_partition = pd.DataFrame(list(partition.items()), columns=['NodeID', 'Com_Topo'])
df_partition_CH = pd.DataFrame(list(partition_CH.items()), columns=['NodeID', 'Com_CH'])
df_partition_inv_CH = pd.DataFrame(list(partition_inv_CH.items()), columns=['NodeID', 'Com_invCH'])
df_com = pd.merge(df_partition,df_partition_CH)
df_com = pd.merge(df_com,df_partition_inv_CH)

In [345]:
df_com.to_csv('GLA/GLA_dual_communities_nodes_CH.csv')

## 11. Dual Graph communities using junction node max choice

In [145]:
#df_edgelist['inv_CH']=1/df_edgelist['CH']
new_df5.head()

,ID,lon,lat,Edge_ID,VD,sky,bldg,road,tree,Cl,NetCl,FP,CH,source_ID,target_ID,inv_CH
0,0,530462.00,200000.03,1.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.693147,0.0,1.0,1.442695
1,1,530498.99,200211.97,4.0,0.035506,29889.0,37920.0,3844.0,43543.0,0.0,1.0,0.000283,17.862410,1.0,5.0,0.055983
2,2,531525.98,200009.05,2.0,-0.087436,56167.0,23552.0,30815.0,15731.0,2.0,1.0,0.001773,17.562648,2.0,3.0,0.056939
3,3,531528.98,200000.00,65378.0,-0.037550,48892.0,25853.0,38137.0,22750.0,2.0,1.0,0.000493,17.562648,3.0,56957.0,0.056939
4,4,530191.96,200566.04,3.0,0.007294,30940.0,4670.0,24543.0,49084.0,0.0,1.0,0.000011,18.219468,4.0,1.0,0.054886

In [320]:
new_df5=pd.merge(df_nodelist,df_edgelist,how='left',left_on='ID',right_on='source_ID')
new_df6=new_df5[['ID','inv_CH','CH','road','Cl','bldg','tree']]
new_df6=new_df6.rename(columns={'inv_CH':'src_inv_CH','CH':'src_CH','road':'src_road','Cl':'src_Cl','bldg':'src_bldg','tree':'src_tree'})
new_df6=pd.merge(new_df6,df_edgelist,how='left',left_on='ID',right_on='target_ID')
new_df6=new_df6[['ID','src_inv_CH','src_CH','src_road','src_Cl','src_bldg','src_tree','inv_CH','CH','road','Cl','bldg','tree']]
new_df6=new_df6.rename(columns={'inv_CH':'tgt_inv_CH','CH':'tgt_CH','road':'tgt_road','Cl':'tgt_Cl','bldg':'tgt_bldg','tree':'tgt_tree'})

In [321]:
new_df6.head()

,ID,src_inv_CH,src_CH,src_road,src_Cl,src_bldg,src_tree,tgt_inv_CH,tgt_CH,tgt_road,tgt_Cl,tgt_bldg,tgt_tree
0,0,1.442695,0.693147,0.0,0.0,0.0,0.0,0.053879,18.559957,10211.0,0.0,21699.0,39833.0
1,1,0.055983,17.862410,3844.0,0.0,37920.0,43543.0,1.442695,0.693147,0.0,0.0,0.0,0.0
2,1,0.055983,17.862410,3844.0,0.0,37920.0,43543.0,0.054886,18.219468,24543.0,0.0,4670.0,49084.0
3,2,0.056939,17.562648,30815.0,2.0,23552.0,15731.0,0.056200,17.793498,39686.0,4.0,15820.0,8680.0
4,3,0.056939,17.562648,38137.0,2.0,25853.0,22750.0,0.056939,17.562648,30815.0,2.0,23552.0,15731.0

In [322]:
new_df6=new_df6.fillna(0)
# we are taking the max here
new_df7=new_df6.groupby('ID').max()
#new_df7=new_df6.groupby('ID').mean()

In [323]:
new_df7['inv_CH']=1/(np.abs(new_df7['src_inv_CH']+new_df7['tgt_inv_CH']+0.01))**2
new_df7['CH']=1/(np.abs(new_df7['src_CH']+new_df7['tgt_CH']+0.01))**2
new_df7['bldg']=1/(np.abs(new_df7['src_bldg']-new_df7['tgt_bldg']+0.01))**2
new_df7['tree']=1/(np.abs(new_df7['src_tree']-new_df7['tgt_tree']+0.01))**2
new_df7['road']=1/(np.abs(new_df7['src_road']-new_df7['tgt_road']+0.01))**2
new_df7['Cl']=1/(np.abs(new_df7['src_Cl']-new_df7['tgt_Cl']+0.01))**2

#new_df7['inv_CH']=new_df7[["src_inv_CH","tgt_inv_CH"]].max(axis=1)
#new_df7['CH']=new_df7[["src_CH","tgt_CH"]].max(axis=1)
#new_df7

In [324]:
del new_df7['src_inv_CH']
del new_df7['tgt_inv_CH']
del new_df7['src_CH']
del new_df7['tgt_CH']
del new_df7['src_road']
del new_df7['tgt_road']
del new_df7['src_Cl']
del new_df7['tgt_Cl']
del new_df7['src_bldg']
del new_df7['tgt_bldg']
del new_df7['src_tree']
del new_df7['tgt_tree']

In [325]:
new_df8=new_df4[['source_Edge_ID','target_Edge_ID','freq_ID']]

In [386]:
new_df7

,inv_CH,CH,bldg,tree,road,Cl
ID,,,,,,
0,0.440574,0.002695,2.123836e-09,6.302519e-10,9.591009e-09,10000.000000
1,0.439346,0.000768,9.045164e-10,3.257056e-08,2.334005e-09,10000.000000
2,65.948732,0.000800,1.672689e-08,2.011395e-08,1.270737e-08,0.252519
3,65.164539,0.000810,1.888700e-07,2.029777e-08,1.865260e-08,10000.000000
4,237.516270,0.003009,4.585264e-08,4.150686e-10,1.660139e-09,10000.000000
5,49.902394,0.001034,2.218500e-09,3.911137e-03,2.126771e-09,0.980296
6,49.749879,0.001038,1.324251e-06,8.235111e-10,4.988794e-09,0.110374
7,38.033429,0.001322,2.606009e-09,6.101618e-09,2.574105e-09,10000.000000
8,44.291940,0.001229,1.070743e-08,3.113831e-08,2.567593e-09,10000.000000
9,64.704941,0.000787,1.243595e-09,3.359332e-08,1.515543e-08,10000.000000
10,0.438178,0.003105,2.799292e-10,3.360677e-07,1.194740e-09,0.252519
11,42.698642,0.001036,3.424264e-09,5.931438e-08,1.583008e-08,10000.000000
12,53.313851,0.001007,4.933863e-08,7.707440e-08,2.155324e-07,10000.000000
13,13.601010,0.001371,8.490006e-08,3.870450e-08,1.754355e-06,0.980296
14,37.620937,0.001463,1.058421e-06,2.543074e-07,9.932467e-08,10000.000000
15,29.982195,0.001416,1.142162e-08,1.527924e-08,1.647836e-06,10000.000000
16,39.081494,0.001404,7.942142e-09,3.641840e-06,3.926342e-09,10000.000000
17,36.255691,0.001304,4.621349e-07,3.954550e-09,2.950218e-08,10000.000000
18,40.994305,0.001333,1.466863e-07,2.687392e-07,8.135283e-09,10000.000000
19,2.462860,0.001109,6.898390e-09,4.702894e-09,1.714597e-07,10000.000000
20,0.788411,0.077439,6.300270e-08,4.295417e-09,2.827519e-08,10000.000000
21,136.540261,0.005704,1.279528e-09,2.253385e-09,2.054890e-09,0.980296
22,40.365379,0.001355,4.173427e-08,4.023580e-09,1.370421e-09,0.980296
23,30.636599,0.001432,5.363357e-08,1.183272e-08,8.262960e-05,10000.000000
24,40.701174,0.001345,6.060693e-08,5.752267e-09,1.070069e-07,10000.000000
25,0.418857,0.005082,5.476918e-08,3.108344e-08,9.263386e-09,10000.000000
26,0.119285,0.512916,2.270153e-08,2.338722e-08,4.557896e-08,0.247519
27,31.192763,0.001588,2.466012e-08,1.631155e-07,3.002472e-07,10000.000000
28,28.231924,0.001983,4.991393e-08,6.368384e-09,5.943657e-09,10000.000000
29,17.316687,0.002391,7.754818e-08,6.487796e-08,6.488971e-09,10000.000000
...,...,...,...,...,...,...
84823,0.433404,0.004012,6.517311e-09,8.510282e-10,7.731079e-10,1.020304
84824,0.119285,0.512916,1.000000e+04,1.000000e+04,1.000000e+04,10000.000000
84825,0.119285,0.512916,1.000000e+04,1.000000e+04,1.000000e+04,10000.000000
84826,0.443245,0.000608,4.996569e-09,7.887067e-07,1.509794e-09,10000.000000
84827,60.771032,0.000608,1.157445e-08,3.435728e-08,1.135352e-08,10000.000000
84828,76.919789,0.000605,8.597237e-09,2.252484e-08,4.211147e-07,10000.000000
84829,13.959697,0.002125,1.805851e-09,1.935453e-08,6.690738e-08,10000.000000
84830,0.473861,0.007722,1.142501e-09,3.501274e-09,5.916757e-10,0.039840
84831,0.433355,0.004022,6.062153e-10,1.163802e-09,2.821822e-09,0.110374
84832,20.098708,0.002406,1.562293e-07,3.717572e-05,2.122071e-09,10000.000000
84833,0.431097,0.004494,9.846000e-11,1.000000e+04,5.286172e-09,0.110374
84834,30.679238,0.001346,1.156917e-07,3.415414e-08,2.859645e-07,10000.000000
84835,33.334142,0.001651,2.379534e-09,3.671333e-08,1.048498e-08,10000.000000
84836,133.133474,0.005869,1.781528e-10,6.888867e-08,6.543676e-09,0.110374
84837,38.079897,0.001436,3.227576e-09,2.408352e-09,1.279070e-09,10000.000000
84838,0.428488,0.005073,2.944966e-10,6.688995e-09,5.408080e-10,0.027871
84839,34.187609,0.001599,7.240644e-09,1.971819e-07,3.091917e-09,10000.000000
84840,34.191113,0.001618,1.515916e-08,1.322410e-05,4.244228e-08,10000.000000
84841,24.021701,0.001911,1.334333e-08,1.246233e-09,1.210664e-07,10000.000000
84842,86.227736,0.000596,9.692732e-08,5.285419e-09,2.495780e-06,0.039840
84843,86.124749,0.000597,9.266219e-10,5.476918e-08,2.352836e-09,10000.000000
84844,53.077483,0.000893,2.511467e-06,7.140648e-09,9.475028e-10,10000.000000
84845,0.119285,0.512916,1.000000e+04,1.000000e+04,1.000000e+04,10000.000000
84846,15.420490,0.001335,1.837576e-09,2.696194e-06,4.588233e-10,10000.000000
84847,24.491936,0.001721,5.101968e-07,1.054122e-06,6.074996e-09,10000.000000
84848,39.815404,0.000836,3.771643e-09,1.874190e-05,9.783900e-08,10000.000000
84849,0.425399,0.005283,1.394959e-10,2.249782e-08,7.620976e-09,0.111856
84850,0.473861,0.005360,9.415351e-11,1.000000e+04,1.101991e-08,0.110374
84851,0.473861,0.005887,1.217142e-10,6.574959e-06,5.624446e-09,0.111856
84852,132.776082,0.005887,1.217141e-10,6.574285e-06,5.624429e-09,0.110374

In [388]:
new_df8.to_csv('GLA/final/dual_graph_freqID.csv',index=False)
new_df7.to_csv('GLA/final/nodelist_process.csv',index=False)

In [4]:
new_df7=pd.read_csv('GLA/final/nodelist_process.csv')
new_df8=pd.read_csv('dual_graph_freqID.csv')

In [5]:
# now get the choice value of the junction node as the choice value 
new_df8=pd.merge(new_df8,new_df7,how='left',left_on='freq_ID',right_index=True)

In [6]:
# 42606 is approximately 20%
len(new_df8.loc[new_df8['road'] < 0.0000000036])

51161

In [7]:
# 42606 is approximately 20%
len(new_df8.loc[new_df8['tree'] < 0.000000005])

50800

In [8]:
# 42606 is approximately 20%
len(new_df8.loc[new_df8['bldg'] < 0.000000002])

51412

In [9]:
len(new_df8.loc[new_df8['CH'] < 0.00085])

50724

In [10]:
len(new_df8.loc[new_df8['Cl'] < 2])

48740

In [12]:
new_df8.max()

Unnamed: 0        213031.000000
source_Edge_ID    114018.000000
target_Edge_ID    114018.000000
freq_ID            84851.000000
inv_CH               334.266756
CH                     2.022588
bldg               10000.000000
tree               10000.000000
road               10000.000000
Cl                 10000.000000
dtype: float64

In [357]:
new_df8['new_CH']=np.NaN
new_df8.loc[new_df8['CH'] < 0.00085, 'new_CH'] = 1
new_df8.loc[new_df8['CH'] >= 0.00085, 'new_CH'] = 10

In [358]:
new_df8['new_road']=np.NaN
new_df8.loc[new_df8['road'] < 0.0000000036, 'new_road'] = 1
new_df8.loc[new_df8['road'] >= 0.0000000036, 'new_road'] = 10

In [359]:
new_df8['new_Cl']=np.NaN
new_df8.loc[new_df8['Cl'] < 2, 'new_Cl'] = 1
new_df8.loc[new_df8['Cl'] >= 2, 'new_Cl'] = 10

In [362]:
new_df8['new_tree']=np.NaN
new_df8.loc[new_df8['tree'] < 0.000000005, 'new_tree'] = 1
new_df8.loc[new_df8['tree'] >= 0.000000005, 'new_tree'] = 10

In [363]:
new_df8['new_bldg']=np.NaN
new_df8.loc[new_df8['bldg'] < 0.000000002, 'new_bldg'] = 1
new_df8.loc[new_df8['bldg'] >= 0.000000002, 'new_bldg'] = 10

In [364]:
#new_df7.to_csv('GLA/Junction_nodes_CH.csv')

In [365]:
# now calculate modularity optimisation based on the junction nodes
DG=nx.from_pandas_dataframe(new_df8, 'source_Edge_ID', 'target_Edge_ID')
partition = community.best_partition(DG)
DG=nx.from_pandas_dataframe(new_df8, 'source_Edge_ID', 'target_Edge_ID', 'new_road')
partition_new_road = community.best_partition(DG,weight='new_road')
DG=nx.from_pandas_dataframe(new_df8, 'source_Edge_ID', 'target_Edge_ID', 'new_CH')
partition_new_CH = community.best_partition(DG,weight='new_CH')
DG=nx.from_pandas_dataframe(new_df8, 'source_Edge_ID', 'target_Edge_ID', 'new_Cl')
partition_new_Cl = community.best_partition(DG,weight='new_Cl')
DG=nx.from_pandas_dataframe(new_df8, 'source_Edge_ID', 'target_Edge_ID', 'new_bldg')
partition_new_bldg = community.best_partition(DG,weight='new_bldg')
DG=nx.from_pandas_dataframe(new_df8, 'source_Edge_ID', 'target_Edge_ID', 'new_tree')
partition_new_tree = community.best_partition(DG,weight='new_tree')


df_partition = pd.DataFrame(list(partition.items()), columns=['NodeID', 'Com_Topo'])
df_partition_new_road = pd.DataFrame(list(partition_new_road.items()), columns=['NodeID', 'Com_new_road'])
df_partition_new_CH = pd.DataFrame(list(partition_new_CH.items()), columns=['NodeID', 'Com_new_CH'])
df_partition_new_Cl = pd.DataFrame(list(partition_new_Cl.items()), columns=['NodeID', 'Com_new_Cl'])
df_partition_new_bldg = pd.DataFrame(list(partition_new_bldg.items()), columns=['NodeID', 'Com_new_bldg'])
df_partition_new_tree = pd.DataFrame(list(partition_new_tree.items()), columns=['NodeID', 'Com_new_tree'])

df_com = pd.merge(df_partition,df_partition_new_road)
df_com = pd.merge(df_com,df_partition_new_CH)
df_com = pd.merge(df_com,df_partition_new_Cl)
df_com = pd.merge(df_com,df_partition_new_bldg)
df_com = pd.merge(df_com,df_partition_new_tree)

df_com.to_csv('GLA/GLA_dual_communities_avg_nodes_CH31.csv')

In [84]:
new_df8.head()

   source_Edge_ID  target_Edge_ID freq_ID     inv_CH        CH
0             3.0             1.0       1   0.439346  0.000768
1             3.0             4.0       1   0.439346  0.000768
2            14.0          4451.0      22  40.365379  0.001355
3          4453.0            16.0      26   0.119285  0.512916
4            20.0          4457.0      34   0.119285  0.512916

In [85]:
new_df9.head()

    index  source_Edge_ID  target_Edge_ID freq_ID     inv_CH        CH
0   89099         93294.0         13876.0   12920  27.885799  0.000941
1   11298         51720.0         51719.0   45748  48.463956  0.001116
2  158306        110983.0        110998.0   84223  64.795136  0.000749
3   94508         56248.0         56244.0   48673  20.081552  0.000827
4   79216         46777.0         44255.0   39051  49.088363  0.000943

In [86]:
new_df8['CH']=new_df8['CH']*100
new_df9=new_df8.sample(frac=1)
new_df9=new_df9.reset_index()

In [87]:
new_df9

         index  source_Edge_ID  target_Edge_ID freq_ID      inv_CH        CH
0        16036         47169.0         47127.0   41037   44.288432  0.096574
1       110696        101284.0        101285.0   81430   52.444463  0.102472
2       127828         10508.0         10507.0   10084   41.434867  0.103889
3        78919         15329.0         13823.0   12877   41.131829  0.111410
4       118008         64805.0         55496.0   48361   42.544396  0.071564
5       134942         67324.0        104971.0   58983   61.494268  0.062953
6       107157         50982.0         49368.0   42358    0.428184  0.135419
7        27576         36439.0         37657.0   32046   43.675255  0.098970
8       168451         41496.0         39429.0   34664   43.575388  0.100489
9       195795         25574.0         27320.0   23821  122.195784  0.570347
10      174120         25707.0         27274.0   23944   38.548873  0.135342
11       81831         84592.0         84593.0   73591    7.081439  0.388671
12       30699          5956.0          4855.0    4640    0.411430  0.384119
13      139099         93734.0         93740.0   15012   60.028576  0.068584
14      142098          9881.0        109166.0    9323   62.837241  0.079805
15      158039         41130.0         41480.0   35160    0.429714  0.157577
16       10729         25200.0         27831.0   23369   51.871668  0.083947
17       41155           698.0           448.0     589   51.340220  0.097856
18      176025         97837.0         36644.0   32409   40.428750  0.093500
19       63572         42210.0         99229.0   36777   49.098408  0.084913
20       98324         82741.0         84137.0   72004   83.198917  0.062011
21        2977         47957.0         47958.0   42226    0.473861  0.467356
22      132960        112661.0        112660.0   84465   53.906634  0.099477
23      101716        113049.0         81977.0   71574   64.118247  0.077115
24       60092         38617.0         38616.0   33558  178.144277  0.290703
25      152991         62754.0         62755.0   55020    4.903789  0.154302
26      181431        100810.0        101363.0   81300   76.421818  0.065600
27       79735         91528.0         91465.0    3650   47.584364  0.085892
28      104684          1469.0         91176.0    1423   52.084985  0.070175
29      123729         86035.0         86098.0   74078   50.704436  0.098988
...        ...             ...             ...     ...         ...       ...
213002   20758         69482.0         68737.0   58954    0.440649  0.100082
213003  119598         57637.0         55906.0   48993   38.438447  0.085159
213004   62795         88521.0         88983.0   76755    0.439748  0.079927
213005   31168         67481.0         69171.0   59176   44.864816  0.092564
213006    8629         15368.0         11141.0   10517   50.292453  0.081334
213007  128696         51620.0         52476.0   44553   44.328176  0.108076
213008  150258         22608.0        109833.0   20445   51.005013  0.091314
213009   90852         33464.0         31417.0   28292   43.215991  0.118265
213010  203567          3961.0         91486.0    3761   62.827896  0.065006
213011  100562          5527.0         91941.0    5548   46.935156  0.107363
213012  180865         91854.0          8949.0    8208    0.420449  0.107037
213013  204087         90462.0         90463.0   78203   58.897198  0.643892
213014  160745         53792.0         53795.0   47458   28.915823  0.116395
213015  146623         28123.0         25699.0   23932   17.320876  0.316322
213016   69916         94785.0         95579.0   79701   67.318187  0.060842
213017   89224         51061.0         47446.0   41496   38.654730  0.123383
213018   65450         23152.0         28066.0   21239    0.415060  0.194791
213019  171872         71414.0         71415.0   62372  131.759075  0.558131
213020  158743         84525.0         84527.0   68894   34.830954  0.094235
213021   29423          7319.0          7318.0    5938    0.119285  0.493986
213022  195773         63699.0         64236.0   55938   16.371307  0.267222
213023   35044        104937.0        104894.0   57684   75.988154  0.064303
213024  146187         46293.0        111239.0   40673   64.097689  0.079671
213025   78055         94595.0         94585.0   79692   59.402771  0.089499
213026  209494         55882.0         56398.0   48971   45.008872  0.101381
213027  139277         76763.0         76764.0   65821   60.533103  0.079620
213028   79023         31858.0         31869.0   28635   50.548085  0.104497
213029   33173         53057.0         53743.0   46817   44.055066  0.100041
213030   61324         24591.0         24592.0   23098   40.626731  0.116863
213031   22910         82799.0         83825.0   72034   47.902992  0.092077

[213032 rows x 6 columns]

In [88]:
# now calculate modularity optimisation based on the junction nodes
DG=nx.from_pandas_dataframe(new_df9, 'source_Edge_ID', 'target_Edge_ID')
partition = community.best_partition(DG)
DG=nx.from_pandas_dataframe(new_df9, 'source_Edge_ID', 'target_Edge_ID', 'CH')
partition_CH = community.best_partition(DG,weight='CH')
DG=nx.from_pandas_dataframe(new_df9, 'source_Edge_ID', 'target_Edge_ID', 'inv_CH')
partition_inv_CH = community.best_partition(DG,weight='inv_CH')
df_partition = pd.DataFrame(list(partition.items()), columns=['NodeID', 'Com_Topo'])
df_partition_CH = pd.DataFrame(list(partition_CH.items()), columns=['NodeID', 'Com_CH'])
df_partition_inv_CH = pd.DataFrame(list(partition_inv_CH.items()), columns=['NodeID', 'Com_invCH'])
df_com = pd.merge(df_partition,df_partition_CH)
df_com = pd.merge(df_com,df_partition_inv_CH)
df_com.to_csv('GLA/GLA_dual_communities_avg_nodes_CH13.csv')

## 12. Dual Graph communities using junction node choice (DX) - not needed
* take node weights of choice as dual graph weights to calculate modularity